<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>

<body>
  <div class="card">

    <div class="title">Book Trade</div>

    <div class="icon">

      <!-- <img src="src\assets\bookTradeIcon.png" alt="Book icon" /> -->
      <img src="https://img.icons8.com/arcade/64/000000/experimental-book-arcade.png" />
    </div>


    <button class="btn" (click)="onBook()">Click here to Book Trade</button>

  </div>
  <!--/card-->

  <div class=" card">

    <div class="title">Print Trade</div>

    <div class="icon">
      <!-- <img src="src\assets\printtrade.gif" alt="print icon"> -->
      <img src="https://img.icons8.com/color/48/000000/print.png" />
    </div>
    <!--/icon-->


    <button class="btn" (click)="onPrint()">Click here to Print Trade</button>

  </div>
  <!--/card-->

  <div class="card">

    <div class="title">Exit</div>

    <div class="icon">
      <!-- <img src="src\assets\exit.png" alt="Exit icon"> -->
      <img
        src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-exit-crowdfunding-flaticons-lineal-color-flat-icons.png" />
    </div>


    <button class="btn" (click)="onExit()">Click here to Exit</button>

  </div>
  <!--/card-->


</body>

</html>
